body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: aliceblue;
}
.button{
    background-color: lightgreen;
    
    overflow: hidden;
}

.jaipur{
    background-color: antiquewhite;
    border: 2px solid black;
    height:100%
}